{% extends 'base.html.twig' %}

{% block body %}
     
     <div class="grid-x grid-padding-x">
        <div class="cell medium-8"></div>
        <div class="cell medium-2">
            <div class="wrapper_searchField">
                <input id="myInput" class="myInput" placeholder="Zoeken" />
            </div>
        </div>
        <div class="cell medium-2">
            <a class="button" href="javascript:void(0);" data-reveal-id="newInvoice" data-path="{{ path('relation_new') }}">+ Nieuwe relatie</a>
        </div>
    </div>
    
    <h4>Relaties</h4>
    
    <br>
    
    {% if is_granted('ROLE_ADMIN') %}

    <div class="grid-x grid-padding-x">
        <div class="cell medium-12">
            <table class="stack hover" id="table">
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Straat</th>
                        <th>Huisnummer</th>
                        <th>Postcode</th>
                        <th>Telefoon</th>
                        <th>E-mail</th>
                        <th>Allergiën</th>
                        <th>Rekeningnummer</th>
                        <th>Facturen</th>
                        <th colspan="2">Acties</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    {% for relation in relations %}
                    <tr id="tr">
                        <td id="td">{{ relation.name }}
                        <td id="td">{{ relation.street }}</td>
                        <td id="td">{{ relation.houseNumber }}</td>
                        <td id="td">{{ relation.postalCode }}</td>
                        <td id="td">{{ relation.telephone }}</td>
                        <td id="td">{{ relation.email }}</td>
                        <td id="td">
                            {% if relation.allergies is not null %}
                                {{ relation.allergies }}
                            {% else %}
                                Niet bekend
                            {% endif %}
                        </td>
                        <td id="td">{{ relation.bankAccountNumber }}</td>
                        <td id="td">
                            {% for invoice in invoices %}
                                {% if relation.id == invoice.relation.id %}
                                    <a class="button" href="javascript:void(0)" data-reveal-id="newInvoice" data-path=" {{ path('invoice_show', { 'id': invoice.id }) }} ">{{ invoice.invoiceNumber }}</a>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td id="td">
                           <a class="button" href="javascript:void(0)" data-reveal-id="newInvoice" data-path="{{ path('relation_show', { 'id': relation.id }) }}">
                                Bиди
                            </a>
                            <a class="button" href="javascript:void(0)" data-reveal-id="newInvoice" data-path="{{ path('relation_edit', { 'id': relation.id }) }}">
                                Измени
                            </a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
{% endblock %}
