{% extends 'base.html.twig' %}

{% block body %}
     
     <div class="grid-x grid-padding-x">
        <div class="cell medium-10"></div>
        <div class="cell medium-2">
            <a class="button" href="{{ path('relation_new') }}">+ Nieuwe relatie</a>
        </div>
    </div>
    
    <h4>Relaties</h4>
    
    <br>
    
    {% if is_granted('ROLE_ADMIN') %}

    <div class="grid-x grid-padding-x">
        <div class="cell medium-12">
            <table class="stack hover">
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Straat</th>
                        <th>Huisnummer</th>
                        <th>Postcode</th>
                        <th>Telefoon</th>
                        <th>E-mail</th>
                        <th>Allergiën</th>
                        <th>Rekeningnummer</th>
                        <th>Facturen</th>

                        <th colspan="2">Acties</th>
                    </tr>
                </thead>
                <tbody>
                    {% for relation in relations %}
                    <tr>
                        <td>{{ relation.name }}
                        <td>{{ relation.street }}</td>
                        <td>{{ relation.houseNumber }}</td>
                        <td>{{ relation.postalCode }}</td>
                        <td>{{ relation.telephone }}</td>
                        <td>{{ relation.email }}</td>
                        <td>
                            {% if relation.allergies is not null %}
                                {{ relation.allergies }}
                            {% else %}
                                Niet bekend
                            {% endif %}
                        </td>
                        <td>{{ relation.bankAccountNumber }}</td>
                        <td>
                            {% for invoice in invoices %}
                                {% if relation.id == invoice.relation.id %}
                                    <a class="button" href=" {{ path('invoice_show', { 'id': invoice.id }) }} ">{{ invoice.invoiceNumber }}</a>
                                    
                                    {% endif %}
                            {% endfor %}
                        <td>
                        <td>
                           <a class="button" href="{{ path('relation_show', { 'id': relation.id }) }}">
                                Bиди
                            </a>
                            <a class="button" href="{{ path('relation_edit', { 'id': relation.id }) }}">
                                Измени
                            </a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
{% endblock %}
