{# {% extends 'base.html.twig' %}

{% block body %} #}

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

     <div class="grid-x grid-padding-x">
        <div class="cell medium-10"></div>
        <div class="cell medium-2">
            <a class="button" href="{{ path('relation_index') }}">Overzicht</a>
        </div>
    </div>
      {% if is_granted('ROLE_ADMIN') %}

    <h4>{{ relation.name }}</h4>

    <br>
        
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                Relatie            
            </div>
            <div class="cell medium-6">
                {% if relation.kindOfRelation %}Klant{% else %}Leverancier{% endif %}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                Straat            
            </div>
            <div class="cell medium-6">
                {{ relation.street }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                Huisnummer            
            </div>
            <div class="cell medium-6">
                {{ relation.housenumber }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                Postcode            
            </div>
            <div class="cell medium-6">
                {{ relation.postalCode }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                Woonplaats            
            </div>
            <div class="cell medium-6">
                {{ relation.city }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                Telefoon            
            </div>
            <div class="cell medium-6">
                {{ relation.telephone }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                E-mail
            </div>
            <div class="cell medium-6">
                {{ relation.email }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                Allergiën
            </div>
            <div class="cell medium-6">
                {{ relation.allergies }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                Rekeningnummer
            </div>
            <div class="cell medium-6">
                {{ relation.bankAccountNumber }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                Informatie
            </div>
            <div class="cell medium-6">
                {{ relation.extraInfo }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell small-6"></div>
            <div class="cell small-2 text-right">
                <a class="button" href="javascript:void(0)" data-path="{{ path('relation_edit', { 'id': relation.id }) }}">Bewerken</a>
            </div>
            {{ form_start(delete_form) }}
            {# <a class="button" href="{{ path('relation_delete', { 'id': relation.id }) }}" title="Verwijderen">
                Verwijderen
            </a> #}
            <button class="button" type="submit" title="Verwijderen">
                Verwijderen
            </button>
            {{ form_end(delete_form) }}
            
            <div class="cell small-4"></div>
        </div>
    {% endif %}
{# {% endblock %} #}
