<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pdf SYSTEM "%resources%/dtd/doctype.dtd">
<pdf Title="{{ invoice.invoicenumber }} {{ relation.name }}">
    <dynamic-page>
        
        <table>
            <tr>
                <td>
                    <div text-align="left">
                        Meeuwenlaan 24<br />
                        3645 GH Vinkeveen<br />
                        Info@sjhomebakery.nl<br />
                        06 3343 6850
                    </div>
                </td>
                <td>
                    <img src="../app/Resources/assets/images/logo.jpeg" class="logo" width="150px" height="150px" margin="0 auto" />
                </td>
                <td>
                    www.sjhomebakery.nl<br />
                    silvija@sjhomebakery.nl
                </td>
            </tr>
        </table>
        
        <table border-color="black" padding="5px" margin-top="15px">
            <tr>
                <td text-align="center" width="200px" >
                    Factuurdatum {{ invoice.date|date("d-m-Y") }}
                </td>
                <td padding-left="100px">
                    Factuur <strong>{{ invoice.invoicenumber }}</strong>
                </td>
            </tr>    
        </table>

                
            <table font-size="14px" margin-top="25px">
                
                <tr>
                    <td height="50px" width="300px">
                        <div height="15px">Naam</div>
                    </td>
                    <td><div height="15px">{{ relation.name }}</div></td>
                </tr>
                <tr>
                    <td height="50px" width="300px">
                        <div height="15px">E-mail</div>
                    </td>
                    <td><div height="15px">{{ relation.email }}</div></td>
                </tr>
                <tr>
                    <td height="50px" width="300px">
                        <div height="15px">Adres</div>
                    </td>
                    <td>
                        <div height="15px">
                            {{ relation.street }} 
                            {{ relation.housenumber }}, 
                            {{ relation.postalcode }}
                            {{ relation.city }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td height="50px" width="300px">
                        <div height="15px">Besteldatum</div>
                    </td>
                    <td>
                        <div height="15px">{{ invoice.date|date("d-m-Y") }}</div>
                    </td>
                </tr>
                <tr>
                    <td height="50px" width="300px">
                        <div height="15px">Factuurdatum</div>
                    </td>
                    <td><div height="15px">{{ "now"|date('d-m-Y') }}</div></td>
                </tr>
                <tr>
                    <td height="50px" width="150px">
                        <div height="15px">Omschrijving</div>
                    </td>
                    <td>
                        <div height="15px">{{ invoice.description }}</div>
                    </td>
                </tr>
                <tr>
                    <td height="50px" width="150px">
                        <div height="15px">Allergie</div>
                    </td>
                    <td>
                        <div height="15px">{{ relation.allergies|default('Niet bekend.') }}</div>
                    </td>
                </tr>
                <tr>
                    <td height="50px" width="100px">
                        <div height="15px">Contactgegevens</div>
                    </td>
                    <td>
                        <div height="15px">{{ relation.email }}</div>
                    </td>
                </tr>
            </table>
            <strong>LET OP: in onze producten kunnen sporen van noten zitten!</strong>

            <hr width="100%" />

            <table>
                <tr>            
                    <td height="15px">Bedrag</td>
                    <td text-align="right">
                        &#8364; {{ invoice.amount|number_format(2,',','.') }}
                    </td>
                </tr>
                <tr>
                    <td height="15px">BTW-percentage</td>
                    <td text-align="right">
                        {{ invoice.vatPercentage|number_format(2,',','.') }} %
                    </td>
                </tr>
                <tr>
                    <td height="15px">BTW</td>
                    <td text-align="right">
                        &#8364; {{ invoice.vatAmount|number_format(2,',','.') }}
                    </td>
                </tr>
                <tr border-color="black" padding="2px">
                    <td>Totaal</td>
                    <td text-align="right" margin="5px">
                        <strong> &#8364; {{ invoice.amountWithVat|number_format(2,',','.')  }}</strong>
                    </td>
                </tr>
            </table>
            <br />
            <p height="150px">
                U wordt geacht het totale bedrag op rekening <strong>NL21 INGB 0651 7369 19</strong> te storten, 
                binnen 14 dagen na de factuurdatum. <br />Ten name van S. Ilic en het factuurnummer.
                <br />
                <br />
                Het totaal bedrag dient binnen 14 dagen na factuurdatum
                overgemaakt te worden op onderstaand rekeningnummer
                Bij betaling gaan wij ervan uit dat u de algemene voorwaarden gelezen
                heeft en daarmee akkoord gaat.
                Deze zijn te vinden op de website www.sjhomebakery.nl
                eventueel kunnen wij deze samen met de disclaimer e-mailen.
            </p>

            <p margin-top="15px">
                    Kvk nr: 67837484<br />
                    BTW nr: NL540609882B01<br />
                    Rekeningnr: NL21 INGB 0651 7369 19
            </p>
                    
    </dynamic-page>
</pdf>