<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pdf SYSTEM "%resources%/dtd/doctype.dtd">
<pdf Title="{{ invoice.invoicenumber }} {{ customer.fullname }}">
    <dynamic-page>
            {# <img src="{{ asset('Resources/assets/images/logo.jpeg') }}" class="logo" width="150px" height="150px" /> #}

            <h3 border-color="black" padding="5px" text-align="center">
                Factuur {{ invoice.invoicenumber }}
            </h3> 

                
            <table font-size="14px" margin-top="25px">
                
                <tr>
                    <td height="50px" width="300px">
                        <div height="15px">Naam</div>
                    </td>
                    <td><div height="15px">{{ customer.fullname }}</div></td>
                </tr>
                <tr>
                    <td height="50px" width="300px">
                        <div height="15px">E-mail</div>
                    </td>
                    <td><div height="15px">{{ customer.email }}</div></td>
                </tr>
                <tr>
                    <td height="50px" width="300px">
                        <div height="15px">Adres</div>
                    </td>
                    <td>
                        <div height="15px">
                            {{ customer.street }} 
                            {{ customer.housenumber }}, 
                            {{ customer.postalcode }} 
                            {{ customer.city }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td height="50px" width="300px">
                        <div height="15px">Besteldatum</div>
                    </td>
                    <td>
                        <div height="15px">{{ invoice.date|localizeddate('long', 'none', 'locale') }}</div>
                    </td>
                </tr>
                <tr>
                    <td height="50px" width="300px">
                        <div height="15px">Factuurdatum</div>
                    </td>
                    <td><div height="15px">{{ "now"|date('d-m-Y') }}</div></td>
                </tr>
                <tr>
                    <td height="50px" width="150px">
                        <div height="15px">Omschrijving</div>
                    </td>
                    <td>
                        <div height="15px">{{ invoice.description }}</div>
                    </td>
                </tr>
                <tr>
                    <td height="50px" width="150px">
                        <div height="15px">Allergie</div>
                    </td>
                    <td>
                        <div height="15px">{{ customer.allergies|default('Niet bekend.') }}</div>
                    </td>
                </tr>
                <tr>
                    <td height="50px" width="100px">
                        <div height="15px">Contactgegevens</div>
                    </td>
                    <td>
                        <div height="15px">{{ customer.email }}</div>
                    </td>
                </tr>
            </table>

            <hr width="100%" />

            <table>
                <tr>            
                    <td height="15px">Bedrag</td>
                    <td text-align="right">
                        {{ invoice.amount|localizedcurrency('EUR') }}
                    </td>
                </tr>
                <tr>
                    <td height="15px">BTW-percentage</td>
                    <td text-align="right">
                        {{ invoice.vatPercentage|number_format(2,',','.') }} %
                    </td>
                </tr>
                <tr>
                    <td height="15px">BTW</td>
                    <td text-align="right">
                        {{ invoice.vatAmount|localizedcurrency('EUR') }}
                    </td>
                </tr>
                <tr border-color="black" padding="2px">
                    <td>Totaal</td>
                    <td text-align="right" margin="5px">
                        <strong>{{ invoice.amountWithVat|localizedcurrency('EUR') }}</strong>
                    </td>
                </tr>
            </table>
            <br />
            <p height="150px">
                U wordt geacht het totale bedrag op rekening <strong>NL21 INGB 0651 7369 19</strong> te storten, 
                binnen 14 dagen na de factuurdatum. <br />Dit onder vermelding van het factuurnummer bovenaan.
            </p>

                    
    </dynamic-page>
</pdf>