<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            S J Home bakery
        </title>
       
        {% block stylesheets %} 
            {{ encore_entry_link_tags('app_style') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <!-- Compressed CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css" integrity="sha256-xpOKVlYXzQ3P03j397+jWFZLMBXLES3IiryeClgU5og= sha384-gP4DhqyoT9b1vaikoHi9XQ8If7UNLO73JFOOlQV1RATrA7D0O7TjJZifac6NwPps sha512-AKwIib1E+xDeXe0tCgbc9uSvPwVYl6Awj7xl0FoaPFostZHOuDQ1abnDNCYtxL/HWEnVOMrFyf91TDgLPi9pNg==" crossorigin="anonymous">

        <!-- Compressed JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/foundation.min.js" integrity="sha256-/PFxCnsMh+nTuM0k3VJCRch1gwnCfKjaP8rJNq5SoBg= sha384-9ksAFjQjZnpqt6VtpjMjlp2S0qrGbcwF/rvrLUg2vciMhwc1UJJeAAOLuJ96w+Nj sha512-UMSn6RHqqJeJcIfV1eS2tPKCjzaHkU/KqgAnQ7Nzn0mLicFxaVhm9vq7zG5+0LALt15j1ljlg8Fp9PT1VGNmDw==" crossorigin="anonymous"></script>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

   
        <noscript>
            <div class="callout alert center">Activeer JavaScript in uw browser. Anders werkt 
                deze site niet goed.
            </div>
        </noscript>
      

        <div class="container-user">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div id="userLoggedIn">
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                    | <a href="{{ path('fos_user_security_logout') }}" title="Uitloggen">
                            Uitloggen
                    </a>
                </div>
            {% else %} 

                <a href="{{ path('fos_user_security_login') }}">
                    {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                </a>
            {% endif %}
    
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                    <br />
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
       
            <img src="{{ asset('build/images/logo.jpeg') }}" class="logo" align="midle">
         
       
         {% if is_granted('ROLE_ADMIN') %}
        <h3>Administratie</h3>
        
              
        <ul class="vertical menu accordion-menu" data-accordion-menu data-submenu-toggle="true">
            <li>
               <a href="#">Gebruikers</a>
               <ul class="menu vertical nested">
                   <li><a href=" {{ path('user_index') }} ">Overzicht</a></li>
                    <li><a href=" {{ path('user_new') }} ">Nieuw</a></li>
                </ul> 
            </li>
            <li>
                <a href="#">Facturen</a>
                <ul class="menu vertical nested">
                    <li><a href=" {{ path('invoice_index') }} ">Overzicht</a></li>
                    <li><a href=" {{ path('invoice_new') }} ">Nieuw</a></li>
                    <li><a href=" {{ path('invoice_index') }} ">Nieuw</a>
                </ul>
            </li>
            <li>
                <a href="#">Klanten</a>
                <ul class="menu vertical nested">
                    <li><a href=" {{ path('customer_index') }} ">Overzicht</a></li>
                    <li><a href=" {{ path('customer_new') }} ">Nieuw</a></li>
                    <li><a href=" {{ path('customer_index') }} ">Bewerken</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Leveranciers</a>
                <ul class="menu vertical nested">
                    <li><a href=" {{ path('supplier_index') }} ">Overzicht</a></li>
                    <li><a href=" {{ path('supplier_new') }} ">Nieuw</a></li>
                    <li><a href=" {{ path('supplier_index') }} ">Bewerken</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Belasting</a>
                <ul class="menu vertical nested">
                    <li><a href="#">Overzicht</a></li>
                    <li><a href="#">Nieuw</a></li>
                    <li><a href="#">Bewerken</a></li>
                </ul>
            </li>
        </ul>
            {# <div class="dropdown">
                <button class="button">Gebruikers</button>
                <div class="dropdown-content">
                   <a href=" {{ path('user_index') }} " class="menu-item">Overzicht</a>
                   <a href=" {{ path('user_new') }} " class="menu-item">Nieuw</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="button">Facturen</button>
                <div class="dropdown-content">
                   <a href=" {{ path('invoice_index') }} " class="menu-item">Overzicht</a>
                   <a href=" {{ path('invoice_new') }} " class="menu-item">Nieuw</a>
                   <a href=" {{ path('invoice_index') }} " class="menu-item">Bewerken</a>
                </div>
            </div> 
             <div class="dropdown">
                <button class="button">Klanten</button>
                <div class="dropdown-content">
                   <a href=" {{ path('customer_index') }} " class="menu-item">Overzicht</a>
                   <a href=" {{ path('customer_new') }} " class="menu-item">Nieuw</a>
                   <a href=" {{ path('customer_index') }} " class="menu-item">Bewerken</a>
                </div>
            </div> 
            <div class="dropdown">
                <button class="button">Leveranciers</button>
                <div class="dropdown-content">
                   <a href=" {{ path('supplier_index') }} " class="menu-item">Overzicht</a>
                   <a href=" {{ path('supplier_new') }} " class="menu-item">Nieuw</a>
                   <a href=" {{ path('supplier_index') }} " class="menu-item">Bewerken</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="button">Belasting</button>
                <div class="dropdown-content">
                   <a href="#" class="menu-item">Overzicht</a>
                   <a href="#" class="menu-item">Nieuw </a>
                   <a href="#" class="menu-item">Bewerken</a>
                </div>
            </div>#}

           {% endif %}
    {% block body %}
    {% endblock %}
    </body>
</html>
