<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            S J Home bakery
        </title>
       
        {% block stylesheets %} 
            {{ encore_entry_link_tags('app_style') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <!-- Compressed CSS -->
        {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css" integrity="sha256-xpOKVlYXzQ3P03j397+jWFZLMBXLES3IiryeClgU5og= sha384-gP4DhqyoT9b1vaikoHi9XQ8If7UNLO73JFOOlQV1RATrA7D0O7TjJZifac6NwPps sha512-AKwIib1E+xDeXe0tCgbc9uSvPwVYl6Awj7xl0FoaPFostZHOuDQ1abnDNCYtxL/HWEnVOMrFyf91TDgLPi9pNg==" crossorigin="anonymous"> #}

        <!-- Compressed JavaScript -->
        {# <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/foundation.min.js" integrity="sha256-/PFxCnsMh+nTuM0k3VJCRch1gwnCfKjaP8rJNq5SoBg= sha384-9ksAFjQjZnpqt6VtpjMjlp2S0qrGbcwF/rvrLUg2vciMhwc1UJJeAAOLuJ96w+Nj sha512-UMSn6RHqqJeJcIfV1eS2tPKCjzaHkU/KqgAnQ7Nzn0mLicFxaVhm9vq7zG5+0LALt15j1ljlg8Fp9PT1VGNmDw==" crossorigin="anonymous"></script> #}

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

   
        <noscript>
            <div class="callout alert center">Активирајте ЈаваСцрипт у свом претраживачу. Ради другачије
                    овај сајт није добар.
            </div>
        </noscript>
      

        <div class="container-user">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div id="userLoggedIn">
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                    | <a href="{{ path('fos_user_security_logout') }}" title="Uitloggen">
                        Ођављивање
                    </a>
                </div>
            {% else %} 

                <a href="{{ path('fos_user_security_login') }}">
                    {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                </a>
            {% endif %}
    
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                    <br />
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
       
            <img src="{{ asset('build/images/logo.jpeg') }}" class="logo">
         
       
         {% if is_granted('ROLE_ADMIN') %}
        <h3>Администрација</h3>
        
        <div class="grid-x cell shrink">    
            <div class="cell medium-2">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li><a href="#"><strong>Мени</strong></a>
                        <ul>
                            <li>
                            <a href="#">Kорисника</a>
                            <ul class="menu vertical nested">
                                <li><a href=" {{ path('user_index') }} ">преглед</a></li>
                                    <li><a href=" {{ path('user_new') }} ">нев</a></li>
                                </ul> 
                            </li>
                            <li>
                                <a href="#">Фактуре</a>
                                <ul class="menu vertical nested">
                                    <li><a href=" {{ path('invoice_index') }} ">преглед</a></li>
                                    <li><a href=" {{ path('invoice_new') }} ">нев</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Купци</a>
                                <ul class="menu vertical nested">
                                    <li><a href=" {{ path('customer_index') }} ">преглед</a></li>
                                    <li><a href=" {{ path('customer_new') }} ">нев</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Добављачи</a>
                                <ul class="menu vertical nested">
                                    <li><a href=" {{ path('supplier_index') }} ">преглед</a></li>
                                    <li><a href=" {{ path('supplier_new') }} ">нев</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Порез</a>
                                <ul class="menu vertical nested">
                                    <li><a href="#">преглед</a></li>
                                    <li><a href="#">нев</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="cell medium-10">
            </div>
        </div>
        

           {% endif %}
    {% block body %}
    {% endblock %}
    <script>
        $(document).foundation();
    </script>
    </body>
</html>
