<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            S J Home bakery
        </title>
       
        {% block stylesheets %} 
            {{ encore_entry_link_tags('app_style') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

   
        <noscript>
            <div class="callout alert center">Activeer JavaScript in uw browser. Anders werkt 
                deze site niet goed.
            </div>
        </noscript>
        
        <div class="container-user">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div id="userLoggedIn">
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                        <a href="{{ path('fos_user_security_logout') }}" title="Uitloggen">
                                <i class="far fa-edit"></i>Uitloggen
                        </a>
                    </div>
                {% else %} 

                    <a href="{{ path('fos_user_security_login') }}">
                        {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% endif %}
        
                {% if app.request.hasPreviousSession %}
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                        <br />
                            <div class="flash-{{ type }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
        </div>
        <p>
                <img src="{{ asset('build/images/logo.jpeg') }}" class="logo" align="midle">
        </p>
        
        <h1><nobr>S J Home Bakery<nobr></h1>

        <h3>Administratie</h3>
        
         {% if is_granted('ROLE_ADMIN') %}
        
            <div class="dropdown">
                <button class="button">Gebruikers</button>
                <div class="dropdown-content">
                   <a href=" {{ path('user_index') }} " class="menu-item">Overzicht</a>
                   <a href=" {{ path('user_new') }} " class="menu-item">Nieuw</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="button">Facturen</button>
                <div class="dropdown-content">
                   <a href=" {{ path('invoice_index') }} " class="menu-item">Overzicht</a>
                   <a href=" {{ path('invoice_new') }} " class="menu-item">Nieuw</a>
                   <a href=" {{ path('invoice_index') }} " class="menu-item">Bewerken</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="button">Klanten</button>
                <div class="dropdown-content">
                   <a href=" {{ path('customer_index') }} " class="menu-item">Overzicht</a>
                   <a href=" {{ path('customer_new') }} " class="menu-item">Nieuw</a>
                   <a href=" {{ path('customer_index') }} " class="menu-item">Bewerken</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="button">Leveranciers</button>
                <div class="dropdown-content">
                   <a href=" {{ path('supplier_index') }} " class="menu-item">Overzicht</a>
                   <a href=" {{ path('supplier_new') }} " class="menu-item">Nieuw</a>
                   <a href=" {{ path('supplier_index') }} " class="menu-item">Bewerken</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="button">Belasting</button>
                <div class="dropdown-content">
                   <a href="#" class="menu-item">Overzicht</a>
                   <a href="#" class="menu-item">Nieuw </a>
                   <a href="#" class="menu-item">Bewerken</a>
                </div>
            </div>
           {% endif %}
    {% block body %}
    {% endblock %}
    </body>
</html>
