<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            S J Home bakery
        </title>
       
        {% block stylesheets %} 
            {{ encore_entry_link_tags('app_style') }}
            {{ encore_entry_link_tags('allFontawesome') }}
            {{ encore_entry_link_tags('allFontawesome_scss') }}

        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('all') }}
            {{ encore_entry_script_tags('functions') }}
        {% endblock %}

        {% block head %}
            {{ encore_entry_script_tags('formLoad') }}
        {% endblock %}

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

   
        <noscript>
            <div class="callout alert center">Активирајте ЈаваСцрипт у свом претраживачу. Ради другачије
                    овај сајт није добар.
            </div>
        </noscript>
      

        <div class="container-user">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div id="userLoggedIn">
                    {{ 'layout.login'|trans({'%username%': app.user.username} ) }}
                    | <a href="{{ path('fos_user_security_logout') }}" title="{{ 'layout.logout'|trans }}">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    | <a href="{{ path('app_translate_show', { '_locale' : 'rs'}) }}">SRB</a>
                    | <a href="{{ path('app_translate_show', { '_locale' : 'nl'}) }}">NL</a>
                </div>
            {# {% else %} 

                <a href="{{ path('fos_user_security_login') }}">
                    {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                </a> #}
            {% endif %}
    
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                    <br />
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
                <img src="{{ asset('build/images/logo.jpeg') }}" class="logo">
       
         {% if is_granted('ROLE_ADMIN') %}
        <h3>{{ 'Base.Administration'|trans  }}</h3>
        
        <div class="grid-x cell shrink">    
            <div class="cell medium-2">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li><a href="#"><strong>{{'Base.Menu'|trans }}</strong></a>
                        <ul>
                            <li>
                                <a href="#">{{ 'Base.Index'|trans }}</a>
                                    <ul class="menu vertical nested">
                                        <li><a href=" {{ path('user_index') }} ">{{'Base.Users'|trans }}</a></li>
                                        <li><a href=" {{ path('invoice_index') }} ">{{ 'Base.Invoices'|trans }}</a></li>
                                        <li><a href=" {{ path('relation_index') }} ">{{ 'Base.Relations'|trans }}</a></li>
                                        <li><a href=" {{ path('file_index') }} ">{{ 'Base.Files'|trans }}</a></li>
                                        <li><a href=" {{ path('tax_index') }} ">{{ 'Base.Taxes'|trans }}</a></li>
                                    </ul> 
                            </li>
                            <li>
                                <a href="#">{{ 'Base.New'|trans }}</a>
                                <ul class="menu vertical nested">
                                    <li><a href="javascript:void(0)"  data-path=" {{ path('user_new') }} ">{{'Base.Users'|trans }}</a></li>
                                    <li><a href="javascript:void(0)"  data-path=" {{ path('invoice_new') }} ">{{ 'Base.Invoices'|trans }}</a></li>
                                    <li><a href="javascript:void(0)"  data-path=" {{ path('relation_new') }} ">{{ 'Base.Relations'|trans }}</a></li>
                                    <li><a href="javascript:void(0)"  data-path=" {{ path('file_new') }} ">{{ 'Base.Files'|trans }}</a></li>
                                </ul>
                            </li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="cell medium-9"></div>
            <div class="cell medium-1">
                <a class="button large" title=" {{ 'Base.Send email'|trans }} " href="javascript:void(0)" data-path="{{ path('contact') }}">
                <i class="far fa-envelope"></i></a>
            </div>
        </div>
        

           {% endif %}
    {% block body %}
    {% endblock %}
    <script>
        $(document).foundation();
    </script>
    </body>
</html>
