<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            S J Home bakery
        </title>
       
        {% block stylesheets %} 
            {{ encore_entry_link_tags('app_style') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('functions') }}
        {% endblock %}

        {% block head %}
            {{ encore_entry_script_tags('formLoad') }}
        {% endblock %}

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

   
        <noscript>
            <div class="callout alert center">Активирајте ЈаваСцрипт у свом претраживачу. Ради другачије
                    овај сајт није добар.
            </div>
        </noscript>
      

        <div class="container-user">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div id="userLoggedIn">
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                    | <a href="{{ path('fos_user_security_logout') }}" title="Uitloggen">
                        Ођављивање
                    </a>
                </div>
            {# {% else %} 

                <a href="{{ path('fos_user_security_login') }}">
                    {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                </a> #}
            {% endif %}
    
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                    <br />
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
                <img src="{{ asset('build/images/logo.jpeg') }}" class="logo">
       
         {% if is_granted('ROLE_ADMIN') %}
        <h3>Администрација</h3>
        
        <div class="grid-x cell shrink">    
            <div class="cell medium-2">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li><a href="#"><strong>Мени</strong></a>
                        <ul>
                            <li>
                                <a href="#">Преглед</a>
                                    <ul class="menu vertical nested">
                                        <li><a href=" {{ path('user_index') }} ">Kорисника</a></li>
                                        <li><a href=" {{ path('invoice_index') }} ">Фактура</a></li>
                                        <li><a href=" {{ path('relation_index') }} ">однос</a></li>
                                        <li><a href=" {{ path('file_index') }} ">Фајлови</a></li>
                                        <li><a href=" {{ path('tax_index') }} ">Порез</a></li>
                                    </ul> 
                            </li>
                            <li>
                                <a href="#">Heb</a>
                                <ul class="menu vertical nested">
                                    <li><a href="javascript:void(0)"  data-path=" {{ path('user_new') }} ">Kорисника</a></li>
                                    <li><a href="javascript:void(0)"  data-path=" {{ path('invoice_new') }} ">Фактура</a></li>
                                    <li><a href="javascript:void(0)"  data-path=" {{ path('relation_new') }} ">однос</a></li>
                                    <li><a href="javascript:void(0)"  data-path=" {{ path('file_new') }} ">Фајлови</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="cell medium-10"></div>
        </div>
        

           {% endif %}
    {% block body %}
    {% endblock %}
    <script>
        $(document).foundation();
    </script>
    </body>
</html>
