{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid-x grid-padding-x">
        <div class="cell medium-4">
            {% for invoice in invoices %}
                {% if invoice.statusPayment != 1 %}
                    <ul class="box">
                        <li>
                            <strong>Facturen ({{ invoices|length }})</strong>
                        </li>
                        <li>
                            <strong>{{ invoice.invoiceNumber }}</strong>
                        </li>
                        <li>
                            {{ loop.index }}
                            {{ invoice.relation.name }}
                        </li>
                        <li>
                            {{ invoice.amountWithVat|number_format(2, ',' ,'.') }}
                        </li>
                        <li>
                            {% if invoice.date %}
                                {{ invoice.date|date('d-m-Y') }}
                            {% endif %}
                        </li>
                        <li>
                        </li>
                    </ul>
                {% else %}
                    Alle facturen zijn betaald!
                {% endif %}
        </div>
            {% endfor %}
        <div class="cell medium-4">
            {% for relation in relations %}
                <div class="box">{{ relation.name }}</div>
            {% endfor %}
        </div>

        <div class="cell medium-4"></div>
    </div>        
{% endblock body %}