{% extends 'base.html.twig' %}

{% block body %}    

    <div class="grid-x grid-padding-x">
        <div class="cell medium-10"></div>
        <div class="cell medium-2">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="button" title=" {{ 'Message.Total index'|trans }} " style="padding:1px1px;" href="{{ path('tax_index') }}">
                    <span style="font-size:18px;"><strong>100</strong></span>
                    <i class="fas fa-percent" style="font-size:-2px;"></i>
                </a>
                <a class="button" title=" {{ 'Message.Specified selection'|trans }} " style="height:36px;vertical-align:center;" href="javascript:void(0);" data-path="{{ path('tax_search') }}">
                    <i class="fas fa-chart-pie"></i> {{ 'Tax.Selection'|trans }}
                </a>
            {% endif %}
        </div>
    </div> 

    <h4>{{ 'Base.Taxes'|trans}}</h4>

    <br>
     <div class="grid-x grid-padding-x">
        <div class="cell medium-12">
            <table class="stack hover table">
                <thead>
                    <tr>
                        <th>{{ 'Base.Relations'|trans }}</th>
                        <th>{{ 'Relation.Name'|trans }}</th>
                        <th>{{ 'Invoice.Invoice Number'|trans }}</th>
                        <th>{{ 'Invoice.Date'|trans }}</th>
                        <th>{{ 'Invoice.Amount'|trans }}</th>
                        <th>{{ 'Invoice.Vat amount'|trans }} (%)</th>
                        <th>{{ 'Invoice.Amount with vat'|trans }}</th>
                        <th>{{ 'Invoice.Total'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {# {% for relation in relations %} #}
                    {% for invoice in invoices %}
                        {% if invoice.relation.kindOfRelation == 1 %}
                        </tr>
                        <tr>
                            <td>Klant</td>
                        {% else %}
                            <td>Leverancier</td>
                        {% endif %}
                            <td>{{ invoice.relation.name }}</td>
                            <td>{{ invoice.invoiceNumber }}</td>
                            <td>{% if invoice.date %}{{ invoice.date|date('d-m-Y') }}{% endif %}</td>
                            <td>{{ invoice.amount }}</td>
                            <td>{{ invoice.vatPercentage }}</td>
                            <td>{{ invoice.vatAmount }}</td>
                            <td>{{ invoice.amountWithVat }}</td>
                        </tr>  
                    {% endfor %}
                </tbody>
                {# {% endfor %} #}
            </table>
        </div>
        
    </div>
    {# <div class="grid-x grid-padding-x">
        <div class="cell medium-10"><div>
        <div class="cell medium-2">
            <a class="button" href="javascript:void(0)" data-path=" {{ path('contact') }} " >Eмаил рачуновођа</a>
        <div>
    </div> #}
{% endblock %}