{% extends 'base.html.twig' %}

{% block body %}    

    <div class="grid-x grid-padding-x">
        <div class="cell medium-10"></div>
        <div class="cell medium-2">
            <a class="button" href="{{ path('tax_index') }}">Compleet</a>
            <a class="button" href="javascript:void(0);" data-path="{{ path('tax_search') }}">Selectie</a>
        </div>
    </div> 

    <h4>Belastingen</h4>

    <br>
     <div class="grid-x grid-padding-x">
        <div class="cell medium-12">
            <table class="stack hover table">
                <thead>
                    <tr>
                        <th>Relatie</th>
                        <th>Naam</th>
                        <th>Factuurnummer</th>
                        <th>Datum</th>
                        <th>Bedrag</th>
                        <th>BTW (%)</th>
                        <th>Bedrag BTW</th>
                        <th>Totaal</th>
                    </tr>
                </thead>
                <tbody>
                    {# {% for relation in relations %} #}
                    {% for invoice in invoices %}
                        {% if invoice.relation.kindOfRelation == 1 %}
                        </tr>
                        <tr>
                            <td>Klant</td>
                        {% else %}
                            <td>Leverancier</td>
                        {% endif %}
                            <td>{{ invoice.relation.name }}</td>
                            <td>{{ invoice.invoiceNumber }}</td>
                            <td>{% if invoice.date %}{{ invoice.date|date('d-m-Y') }}{% endif %}</td>
                            <td>{{ invoice.amount }}</td>
                            <td>{{ invoice.vatPercentage }}</td>
                            <td>{{ invoice.vatAmount }}</td>
                            <td>{{ invoice.amountWithVat }}</td>
                        </tr>  
                    {% endfor %}
                </tbody>
                {# {% endfor %} #}
            </table>
        </div>
        
    </div>
    {# <div class="grid-x grid-padding-x">
        <div class="cell medium-10"><div>
        <div class="cell medium-2">
            <a class="button" href="javascript:void(0)" data-path=" {{ path('contact') }} " >Eмаил рачуновођа</a>
        <div>
    </div> #}
{% endblock %}