{# {% extends 'base.html.twig' %}
{% block body %} #}
        
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button> 
        {# {{ form_start(form, { 'attr': {
            'data-async': '',
            'action': path('tax_search'), 
        } } ) }}  #}
            
            <h4>Overzicht maken</h4>
            <br />  {# , {'action': path('tax_search')}, { 'data-async' : ''} dit stond form. Moet in de controller #}
        {{ form_start(form)}}
             <div class="grid-x grid-padding-x">
                <div class="cell medium-1">{{ form_label(form.from) }}</div>
                <div class="cell medium-2">{{ form_widget(form.from) }}</div>
                <div class="cell medium-2">{{ form_errors(form.from) }}</div>
                
                <div class="cell medium-1">{{ form_label(form.till) }}</div>
                <div class="cell medium-2">{{ form_widget(form.till) }}</div>
                <div class="cell medium-2">{{ form_errors(form.till) }}</div>
            </div>
                <button class="button" type="submit">
                    <i class="far fa-save"></i>
                </button>
            {# {{ form_widget(form)}} #}
        {{ form_end(form) }}
{# {% endblock %} #}