{# {% extends 'base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block Javascript %}
   {{ parent() }}
{% endblock %}

{% block body %} #}

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

     <div class="grid-x grid-padding-x">
        <div class="cell medium-10"></div>
        <div class="cell medium-2">
            <a href="{{ path('file_index') }}" class="button">
                <i class="fas fa-list-ol"></i>
            </a>
        </div>
    </div>
<div>

    {{ form_start(form, { 'attr': {
        'data-async': '',
    } } ) }}
    
    <h4>{% if file.id == null %}Nieuw{% else %}Wijzig{% endif %} bestand</h4>

    <br>    

    <!-- message -->
    <div id="formMessage" class="form-message" style="display:none"></div>

    
    <div class="grid-x grid-padding-x">
        <div class="cell medium-3"></div>
        <div class="cell medium-3">
            {{ form_label(form.filename) }}
        </div>
        <div class="cell medium-4">
            <label class="button"><i class="fas fa-file-export"></i>
            {{ form_widget(form.filename, { 'attr': 
                {   'id': 'inputFile',
                    'hidden' : '',
                    'size' : '50',
                    'onchange' : 'fileUpload(this);'
                } } ) 
            }}
        </label>          
            <nobr><div id="message">Selecteer een bestand</div></nobr>
        </div>
        {# <div class="cell medium-1"> #}
            {{ form_errors(form.filename) }}
        {# </div> #}
        <div class="cell medium-2"></div>
    </div>
        <script>
                function fileUpload(myFile){
                    var file = myFile.files[0];
                    message.innerHTML = 'Bestand: ' + file.name;
                }
                function cancel() {
                    message.innerHTML ="Selecteer een bestand"
                }
        </script>
    <div class="grid-x grid-padding-x">
        <div class="cell medium-3"></div>
        <div class="cell medium-3">
            {{ form_label(form.date) }}
        </div>
        <div class="cell medium-3">
            {{ form_widget(form.date) }}
        </div>
        <div class="cell medium-3">
            {{ form_errors(form.date) }}
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell medium-3"></div>
        <div class="cell medium-3">
            {{ form_label(form.period) }}
        </div>
        <div class="cell medium-3">
            {{ form_widget(form.period) }}
        </div>
        <div class="cell medium-3">
            {{ form_errors(form.period) }}
        </div>
    </div>
        {# {{ form_widget(form) }} #}
    
    <div class="grid-x grid-padding-x">
        <div class="cell medium-3"></div>
        <div class="cell medium-3"></div>
        <div class="cell medium-3 text-right">
            <button type="reset" class="button" onclick="cancel(this)">
                <i class="fas fa-remove-format"></i>
            </button>
            <button class="button" type="submit">
                <i class="far fa-save"></i>
            </button>
        </div>
        <div class="cell medium-3"></div>
    </div>

    {{ form_end(form) }}

{# {% endblock %} #}
