{% extends 'base.html.twig' %}

{% block body %}

    <div class="grid-x grid-padding-x">
        <div class="cell medium-10"></div>
        <div class="cell medium-2">
            <a href="{{ path('file_index') }}" class="button">Overzicht</a>
        </div>
    </div>
    
    <h4>Bestand bewerken</h4>

    <br>

    {{ form_start(edit_form) }}

    <div class="grid-x grid-padding-x">
        <div class="cell medium-3"></div>
        <div class="cell medium-3">
            {{ form_label(edit_form.filename) }}
        </div>
        <div class="cell medium-3">
            {{ form_widget(edit_form.filename) }}
        </div>
        <div class="cell medium-3">
            {{ form_errors(edit_form.filename) }}
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell medium-3"></div>
        <div class="cell medium-3">
            {{ form_label(edit_form.date) }}
        </div>
        <div class="cell medium-3">
            {{ form_widget(edit_form.date) }}
        </div>
        <div class="cell medium-3">
            {{ form_errors(edit_form.date) }}
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell medium-3"></div>
        <div class="cell medium-3">
            {{ form_label(edit_form.period) }}
        </div>
        <div class="cell medium-3">
            {{ form_widget(edit_form.period) }}
        </div>
        <div class="cell medium-3">
            {{ form_errors(edit_form.period) }}
        </div>
    </div>


    <div class="grid-x grid-padding-x">
        <div class="cell medium-3"></div>
        <div class="cell medium-3"></div>
        <div class="cell medium-3 text-right">
            <input type="submit" value="Opslaan" class="button" />
        </div>
    {{ form_end(edit_form) }}
        <div class="cell medium-1"></div>
        <div class="cell medium-2">
            {{ form_start(delete_form) }}
                <input type="submit" value="Verwijderen" class="button text-right">
            {{ form_end(delete_form) }}
        </div>
    </div>

{% endblock %}
