{# {% extends 'base.html.twig' %}
     
  {% block stylesheet %}
           {{ parent() }}
    {% endblock %}
{% block body %} #}

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="grid-x grid-padding-x">
        <div class="cell medium-10"></div>
        <div class="cell medium-2">
            <a class="button" href="{{ path('user_index') }}">
                <i class="fas fa-list-ol"></i>
            </a>
        </div>
    </div>
    
    <h4>
        {% if user.id is not null %}
            Gebruiker bewerken
        {% else %}
            Nieuwe gebruiker
        {% endif %}
    </h4>
        {{ form_start(form) }}
  

        <div class="grid-x grid-padding-x">
            <div class="cell medium-3"></div>
            <div class="cell medium-3">
                {{ form_label(form.username) }}
            </div>
            <div class="cell medium-3">
                {{ form_widget(form.username) }}
            </div>
            <div class="cell medium-3">
                {{ form_errors(form.username) }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-3"></div>
            <div class="cell medium-3">
                {{ form_label(form.email) }}
            </div>
            <div class="cell medium-3">
                {{ form_widget(form.email) }}
            </div>
            <div class="cell medium-3">
                {{ form_errors(form.email) }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-3"></div>
            <div class="cell medium-3">
                {{ form_label(form.roles) }}
            </div>
            <div class="cell medium-3">
                {{ form_widget(form.roles) }}
            </div>
            <div class="cell medium-3">
                {{ form_errors(form.roles) }}
            </div>
        </div>
    
        {{ form_widget(form._token) }} 
        {% if user.id is null %}

        <div class="grid-x grid-padding-x">
            <div class="cell medium-3"></div>
            <div class="cell medium-3">
                {{ form_label(form.plainPassword.first) }}
            </div>
            <div class="cell medium-3">
                {{ form_widget(form.plainPassword.first) }}
            </div>
            <div class="cell medium-3">
                {{ form_errors(form.plainPassword.first) }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-3"></div>
            <div class="cell medium-3">
                {{ form_label(form.plainPassword.second) }}
            </div>
            <div class="cell medium-3">
                {{ form_widget(form.plainPassword.second) }}
            </div>
            <div class="cell medium-3">
                {{ form_errors(form.plainPassword.second) }}
            </div>
        </div>
        
        {% endif %}
        
    
    </div></div>
    <div class="grid-x grid-padding-x">
        <div class="cell large-6"></div>
        <div class="cell large-3 text-right">
            {% if user.id == null %}
                <button type="reset" class="button"><i class="fas fa-remove-format"></i></button>
            {% endif %}
                <button class="button" type="submit">
                    <i class="far fa-save"></i>
                </button>
        </div>   
        <div class="cell large-3"></div>
    </div>

    {{ form_end(form) }}

{# {% endblock %} #}
