{% extends 'base.html.twig' %}
     
  {% block stylesheet %}
           {{ parent() }}
    {% endblock %}
{% block body %}

    <div class="grid-x grid-padding-x">
        <div class="cell medium-10"></div>
        <div class="cell medium-2">
            <a class="button" href="{{ path('user_index') }}" title="Overzicht">
                Overzicht
            </a>
        </div>
    </div>
    
    <h4>
        {% if user.id is not null %}
            Gebruiker bewerken
        {% else %}
            Nieuwe gebruiker
        {% endif %}
    </h4>

    {{ form_start(form, {
            'attr': {
                'novalidate': 'novalidate',
                'data-abide': 'data-abide'
            }
        })
    }}

        <div class="grid-x grid-padding-x">
            <div class="cell medium-3"></div>
            <div class="cell medium-3">
                {{ form_label(form.username) }}
            </div>
            <div class="cell medium-3">
                {{ form_widget(form.username) }}
            </div>
            <div class="cell medium-3">
                {{ form_errors(form.username) }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-3"></div>
            <div class="cell medium-3">
                {{ form_label(form.email) }}
            </div>
            <div class="cell medium-3">
                {{ form_widget(form.email) }}
            </div>
            <div class="cell medium-3">
                {{ form_errors(form.email) }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-3"></div>
            <div class="cell medium-3">
                {{ form_label(form.roles) }}
            </div>
            <div class="cell medium-3">
                {{ form_widget(form.roles) }}
            </div>
            <div class="cell medium-3">
                {{ form_errors(form.roles) }}
            </div>
        </div>
    
        {{ form_widget(form._token) }} 
        {% if user.id is null %}

        <div class="grid-x grid-padding-x">
            <div class="cell medium-3"></div>
            <div class="cell medium-3">
                {{ form_label(form.plainPassword.first) }}
            </div>
            <div class="cell medium-3">
                {{ form_widget(form.plainPassword.first) }}
            </div>
            <div class="cell medium-3">
                {{ form_errors(form.plainPassword.first) }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-3"></div>
            <div class="cell medium-3">
                {{ form_label(form.plainPassword.second) }}
            </div>
            <div class="cell medium-3">
                {{ form_widget(form.plainPassword.second) }}
            </div>
            <div class="cell medium-3">
                {{ form_errors(form.plainPassword.second) }}
            </div>
        </div>
        
        {% endif %}
        
    
    </div></div>
    <div class="grid-x grid-padding-x">
        <div class="cell large-6"></div>
        <div class="cell large-3 text-right">
            <input type="reset" class="button" value="Annuleren" />
            <button class="button" type="submit" title="Opslaan">
                Opslaan
            </button>
        </div>   
        <div class="cell large-3"></div>
    </div>

    {{ form_end(form) }}

{% endblock %}
