{# {% extends 'base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

 {% block javascript %}
        {{ parent() }}
{% endblock %}

{% block body %} #}

    <div class="grid-x grid-padding-x">
        <div class="cell medium-10"></div>
        <div class="cell medium-2">
            <a class="button" href="{{ path('user_index') }}"
            title="Terug naar lijst">
                Overzicht
            </a>
        </div>
    </div>
     {% if is_granted('ROLE_ADMIN') %}
    
    <h4>Gebruiker {{ user.username }}</h4>
            
    <br>


        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                E-mail            
            </div>
            <div class="cell medium-6">
                {{ user.email }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                Rol        
            </div>
            <div class="cell medium-6">
                {% for role in user.roles %}
                    {% if role == 'ROLE_ADMIN' %}
                        Admin
                    {% endif %}
                    {% if role == 'ROLE_USER' %}
                        Gebruiker
                    {% endif %}
                {% endfor %}  
            </div>
        </div>

        <div class="grid-x grid-padding-x">
            <div class="cell small-6"></div>
            <div class="cell small-2 text-right">
                <a class="button" href="javascript:void(0);" data-reveal-id="newInvoice" data-path="{{ path('user_edit', { 'id': user.id }) }}" title="Bewerken">
                    Bewerken
                </a>
            </div>
            <div class="cell small-4">
                {{ form_start(delete_form) }}
                    <button class="button" type="submit" title="Verwijderen">
                         Verwijderen
                    </button> 
                {{ form_end(delete_form) }}
            </div>
        </div>                
    {% endif %}
{# {% endblock %} #}
