{# {% extends 'base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

 {% block javascript %}
        {{ parent() }}
{% endblock %}

{% block body %} #}

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="grid-x grid-padding-x">
        <div class="cell medium-10"></div>
        <div class="cell medium-2">
            <a class="button" href="{{ path('user_index') }}" title=" {{ 'Index.Back'|trans }} ">
                <i class="fas fa-list-ol"></i>
            </a>
        </div>
    </div>
     {% if is_granted('ROLE_ADMIN') %}
    
    <h4>{{ 'User.User'|trans }} {{ user.username }}</h4>
            
    <br>


        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                {{ 'Relation.Email'|trans }}            
            </div>
            <div class="cell medium-6">
                {{ user.email }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                {{ 'User.Roll'|trans }}        
            </div>
            <div class="cell medium-6">
                {% for role in user.roles %}
                    {% if role == 'ROLE_ADMIN' %}
                        {{ 'User.Admin'|trans }}        
                    {% endif %}
                    {% if role == 'ROLE_USER' %}
                        {{ 'User.User'|trans }}        
                    {% endif %}
                {% endfor %}  
            </div>
        </div>

        <div class="grid-x grid-padding-x">
            <div class="cell small-6"></div>
            <div class="cell small-2 text-right">
                <a class="button" title=" {{ 'Index.Edit'|trans }}" href="javascript:void(0);" data-reveal-id="newInvoice" data-path="{{ path('user_edit', { 'id': user.id }) }}" title="Bewerken">
                    <i class="far fa-edit"></i>
                </a>
            </div>
            <div class="cell small-4">
                {{ form_start(delete_form) }}
                    <button class="button" title=" {{ 'Form.Save'|trans }} " type="submit">
                        <i class="fas fa-trash-alt"></i>
                    </button> 
                {{ form_end(delete_form) }}
            </div>
        </div>                
    {% endif %}
{# {% endblock %} #}
