{# {% form_theme form 'form/theme.html.twig' %}    #}
{% extends ('base.html.twig') %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

<h4>Foutmelding</h4>

<div class="grid-x grid-padding-x">
        <div class="cell medium-2"></div>
            <div class="cell medium-8">
            <table class="stack">
                <tbody>
                   
                    </tr>
                    <tr>
                        <td>
                            {{ status_code }}
                            {{ status_text }}
                            {% if exception_on_line == 49 %}
                                Een relatie kan niet verwijderd worden als deze nog facturen heeft staan.
                                <br><a href="#" class="button "onclick="history.go(-1)">Terug</a>
                            {% elseif exception_on_line == 83 %}
                                Ongedefinieerde variable.
                            {% else %}
                            Er is wat fout gegaan. Stel uw vraag aan de systeembeheerder.
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ exception_in_file }}</td>
                    </tr>
                    <tr>
                        <td>{{ exception_on_line }}</td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div class="cell medium-2"></div>
        </div>

{# <p style="padding:3rem">

    <em>Advies:</em></br>
    Het kan zijn dat u dezelfde gebruikersnaam en/of e-mail heeft gebruikt als een andere gebruiker.<br/> 
    Verander deze en probeer het <a href=" {{ path('user_new') }} ">opnieuw</a>.
</p> #}
{% endblock %}