{% extends 'base.html.twig' %}

{% block body %}

    <div class="grid-x grid-padding-x">
        <div class="cell medium-10"></div>
        <div class="cell medium-2">
            <a href="{{ path('invoice_index') }}" class="button">Overzicht</a>
        </div>
    </div>
    
    {{ form_start(edit_form) }}  

    <h4>Factuur bewerken</h4>
    
    <br>

    <div class="grid-x grid-padding-x">
        <div class="cell medium-3"></div>
        <div class="cell medium-3">
            {{ form_label(edit_form.firstName) }}
        </div>
        <div class="cell medium-3">
            {{ form_widget(edit_form.firstName) }}
        </div>
        <div class="cell medium-3">
            {{ form_errors(edit_form.firstName) }}
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell medium-3"></div>
        <div class="cell medium-3">
            {{ form_label(edit_form.lastName) }}
        </div>
        <div class="cell medium-3">
            {{ form_widget(edit_form.lastName) }}
        </div>
        <div class="cell medium-3">
            {{ form_errors(edit_form.lastName) }}
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell medium-3"></div>
        <div class="cell medium-3">
            {{ form_label(edit_form.date) }}
        </div>
        <div class="cell medium-3">
            {{ form_widget(edit_form.date) }}
        </div>
        <div class="cell medium-3">
            {{ form_errors(edit_form.date) }}
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell medium-3"></div>
        <div class="cell medium-3">
            {{ form_label(edit_form.description) }}
        </div>
        <div class="cell medium-3">
            {{ form_widget(edit_form.description) }}
        </div>
        <div class="cell medium-3">
            {{ form_errors(edit_form.description) }}
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell medium-3"></div>
        <div class="cell medium-3">
            {{ form_label(edit_form.invoiceNumber) }}
        </div>
        <div class="cell medium-3">
            {{ form_widget(edit_form.invoiceNumber) }}
        </div>
        <div class="cell medium-3">
            {{ form_errors(edit_form.invoiceNumber) }}
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell medium-3"></div>
        <div class="cell medium-3">
            {{ form_label(edit_form.amount) }}
        </div>
        <div class="cell medium-3">
            {{ form_widget(edit_form.amount) }}
        </div>
        <div class="cell medium-3">
            {{ form_errors(edit_form.amount) }}
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell medium-3"></div>
        <div class="cell medium-3">
            {{ form_label(edit_form.amountWithVat) }}
        </div>
        <div class="cell medium-3">
            {{ form_widget(edit_form.amountWithVat) }}
        </div>
        <div class="cell medium-3">
            {{ form_errors(edit_form.amountWithVat) }}
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell medium-3"></div>
        <div class="cell medium-3">
            {{ form_label(edit_form.vatAmount) }}
        </div>
        <div class="cell medium-3">
            {{ form_widget(edit_form.vatAmount) }}
        </div>
        <div class="cell medium-3">
            {{ form_errors(edit_form.vatAmount) }}
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell medium-3"></div>
        <div class="cell medium-3">
            {{ form_label(edit_form.vatPercentage) }}
        </div>
        <div class="cell medium-3">
            {{ form_widget(edit_form.vatPercentage) }}
        </div>
        <div class="cell medium-3">
            {{ form_errors(edit_form.vatPercentage) }}
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell medium-3"></div>
        <div class="cell medium-3">
            {{ form_label(edit_form.customer) }}
        </div>
        <div class="cell medium-3">
            {{ form_widget(edit_form.customer) }}
        </div>
        <div class="cell medium-3">
            {{ form_errors(edit_form.customer) }}
        </div>
    </div>

    
    <div class="grid-x grid-padding-x">
        <div class="cell medium-3"></div>
        <div class="cell medium-3"></div>
        <div class="cell medium-3 text-right">
            <input type="reset" value="Annuleren" class="button" />
            <input type="submit" value="Opslaan" class="button" />
    {{ form_end(edit_form) }}
        </div>
        <div class="cell medium-1"></div>
        <div class="cell medium-2">
            {{ form_start(delete_form) }}
                <input type="submit" value="Verwijderen" class="button text-right">
            {{ form_end(delete_form) }}
        </div>
    </div>
    

       
{% endblock %}
