{% extends 'base.html.twig' %}

{# {% block head %}
    {{ encore_entry_script_tags('formLoad') }}
{% endblock %} #}

{% block body %}


    <div class="grid-x grid-padding-x">
        <div class="cell medium-8"></div>
        <div class="cell medium-2">
            <div class="wrapper_searchField">
                <input id="myInput" class="myInput" placeholder="{{ 'Message.Search'|trans }}" />
            </div>
        </div>
        <div class="cell medium-2">                                                                         
            <a class="button" title=" {{ 'Message.Add invoice'|trans }} " href="javascript:void(0);" data-reveal-id="newInvoice" data-path="{{ path('invoice_new') }}">
                <i class="fas fa-plus"></i> {{ 'Base.Invoices'|trans }}
            </a>
        </div>
    </div>

    <h4>{{ 'Base.Invoices'|trans }}</h4>

    <br>

    {% if is_granted('ROLE_ADMIN') %}
   
        <div class="grid-x grid-padding-x">
            <div class="cell medium-1"></div>
            <div class="cell medium-10">
                <table class="stack hover table" id="table">
                    <thead>
                        <tr>
                            <th>{{ 'Invoice.Invoice Number'|trans }}</th>
                            <th>{{ 'Invoice.FullName'|trans }}</th>
                            <th>{{ 'Invoice.Reference'|trans }}</th>
                            <th>{{ 'Invoice.Date'|trans }}</th>
                            <th>{{ 'Invoice.Description'|trans }}</th>
                            <th>{{ 'Invoice.Invoice send'|trans }}</th>
                            <th>{{ 'Invoice.Status payment'|trans }}</th>
                            <th>{{ 'Index.Action'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        {% for invoice in invoices %}   
                        <tr id="tr">
                            <td id="td">{{ invoice.invoiceNumber }}</td>
                            <td id="td">
                                {% for relation in relations %}
                                
                                {% if invoice.relation.id == relation.id %}
                                <a href="javascript:void(0)" data-path=" {{ path('relation_show', { 'id' : relation.id}) }} ">{{ invoice.relation.name }}</a>
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td id="td">{{ invoice.reference }}</td>
                            <td id="td">{% if invoice.date %}{{ invoice.date|date('d-m-Y') }}{% endif %}</td>
                            <td id="td">{{ invoice.description }}</td>
                            <td id="td">
                                {% if invoice.invoiceSend is not null %}
                                    {{ invoice.invoiceSend|date("d-m-Y") }}
                                {% else %}
                                     <i class="fas fa-times"></i>
                                {% endif %}
                            </td>
                            <td id="td">
                                {% if invoice.statusPayment == 1 %}
                                    <i class="fas fa-check" style="color:green;"></i>
                                {% else %}
                                    <i class="fas fa-times" style="color:red;"></i>
                                {% endif %}
                            </td>
                            <td id="td">
                                <a class="button" title=" {{ 'Index.Show'|trans}} " href="javascript:void(0);" data-reveal-id="newInvoice" data-path="{{ path('invoice_show', { 'id': invoice.id }) }}">
                                    <i class="fas fa-eye"></i>{#  Bиди #}
                                </a>
                                <a class="button" title=" {{ 'Index.Edit'|trans}} "  href="javascript:void(0);" data-reveal-id="newInvoice" data-path="{{ path('invoice_edit', { 'id': invoice.id }) }}">
                                    <i class="fas fa-edit"></i>{# Измени #}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}    
                    </tbody>
                </table>
                <div clas="cell medium-1"></div>
            </div>
        </div>

    {% endif %}
{% endblock %}

