{% extends 'base.html.twig' %}

{% block body %}
    <h1>Invoices list</h1>

    <table>
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Date</th>
                <th>Description</th>
                <th>Invoicenumber</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <td><a href="{{ path('invoice_show', { 'id': invoice.id }) }}">{{ invoice.id }}</a></td>
                <td>{{ invoice.firstName }}</td>
                <td>{{ invoice.lastName }}</td>
                <td>{% if invoice.date %}{{ invoice.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ invoice.description }}</td>
                <td>{{ invoice.invoiceNumber }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('invoice_show', { 'id': invoice.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('invoice_edit', { 'id': invoice.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('invoice_new') }}">Create a new invoice</a>
        </li>
    </ul>
{% endblock %}
