{% extends 'base.html.twig' %}

{% block body %}


    <div class="grid-x grid-padding-x">
        <div class="cell medium-10"></div>
        <div class="cell medium-2">
            <a class="button" href="{{ path('invoice_new') }}">+ Factuur maken</a>
        </div>
    </div>

    <h4>Lijst facturen</h4>

    {% if is_granted('ROLE_ADMIN') %}
        {% for invoice in invoices %}   

            <div class="grid-x grid-padding-x">
                <div class="cell medium-2"></div>
                <div class="cell medium-4">
                    Factuur id:            
                </div>
                <div class="cell medium-6">
                    {{ invoice.id }}
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-2"></div>
                <div class="cell medium-4">
                    Voornaam            
                </div>
                <div class="cell medium-6">
                    {{ invoice.firstname }}
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-2"></div>
                <div class="cell medium-4">
                    Achternaam            
                </div>
                <div class="cell medium-6">
                    {{ invoice.lastName }}
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-2"></div>
                <div class="cell medium-4">
                    KlantId            
                </div>
                <div class="cell medium-6">
                    {% for customer in customers %}
                        {% if invoice.customer.id == customer.id %}
                            <a href=" {{ path('customer_show', { 'id' : customer.id}) }} ">{{ customer.id }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-2"></div>
                <div class="cell medium-4">
                    Datum            
                </div>
                <div class="cell medium-6">
                    {% if invoice.date %}{{ invoice.date|date('d-m-Y') }}{% endif %}
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-2"></div>
                <div class="cell medium-4">
                    Omschrijving            
                </div>
                <div class="cell medium-6">
                    {{ invoice.description }}
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-2"></div>
                <div class="cell medium-4">
                    Factuurnummer            
                </div>
                <div class="cell medium-6">
                    {{ invoice.invoiceNumber }}
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-5"></div>
                <div class="cell medium-1"></div>
                    <a class="button" href="{{ path('invoice_show', { 'id': invoice.id }) }}">
                        Bиди
                    </a>
                    <a class="button" href="{{ path('invoice_edit', { 'id': invoice.id }) }}">
                        Измени
                    </a>
                </div>
                <div class="cell medium-6">
                </div>
            </div>
        {% endfor %}

        
    {% endif %}
{% endblock %}
