{% extends 'base.html.twig' %}

{% block body %}
    <h4>Lijst facturen</h4>
    {% if is_granted('ROLE_ADMIN') %}
        <table>
            <thead>
                <tr>
                    <th>Voornaam</th>
                    <th>Achternaam</th>
                    <th>KlantId</th>
                    <th>Datum</th>
                    <th>Omschrijving</th>
                    <th>Factuurnummer</th>
                    <th>Bewerking</th>
                </tr>
            </thead>
            <tbody>
            {% for invoice in invoices %}
                <tr>
                    <td>{{ invoice.firstName }}</td>
                    <td>{{ invoice.lastName }}</td>
                {% for customer in customers%}
                    <td><a href=" {{ path('customer_show', { 'id' : customer.id}) }} ">{{ customer.id }}</a></td>
                {% endfor %}
                    <td>{% if invoice.date %}{{ invoice.date|date('d-m-Y') }}{% endif %}</td>
                    <td>{{ invoice.description }}</td>
                    <td>{{ invoice.invoiceNumber }}</td>
                    <td>
                        {# <ul>
                            <li> #}
                                <a class="button" href="{{ path('invoice_show', { 'id': invoice.id }) }}">Bиди</a>
                            {# </li>
                            <li> #}
                                <a class="button" href="{{ path('invoice_edit', { 'id': invoice.id }) }}">Измени</a>
                            {# </li>
                        </ul> #}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('invoice_new') }}">Factuur maken</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
