
    <div class="grid-x grid-padding-x">
        <div class="cell medium-10"></div>
        <div class="cell medium-2">
            <a class="button" href="{{ path('invoice_index') }}" title="{{ 'Index.Back'|trans }}">
                <i class="fas fa-list-ol"></i>
            </a>
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
  
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <h4>{{ 'Base.Invoices'|trans }}</h4>

    <br> 
    
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                {{ 'Relation.Name'|trans }}            
            </div>
            <div class="cell medium-6">
                {{ invoice.relation.name }}
            </div>
         </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                {{ 'Invoice.Date'|trans }}
            </div>
            <div class="cell medium-6">
                {% if invoice.date %}{{ invoice.date|date('d-m-Y') }}{% endif %}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                {{ 'Invoice.Description'|trans }}
            </div>
            <div class="cell medium-6">
                {{ invoice.description }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                    {{ 'Invoice.Invoice Number'|trans }}
            </div>
            <div class="cell medium-6">
                {% if invoice.relation.kindOfRelation == true %}
                    <a class="button" title=" {{ 'Message.Open pdf'|trans }} " href="{{ path('invoice.pdf', { 'id': invoice.id }) }}" target="_blank">
                        {{ invoice.invoiceNumber }}
                        <i class="far fa-file-pdf"></i></a>
                        {% else %}
                        {{ invoice.invoiceNumber }}
                        {% endif %}
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="cell medium-2"></div>
                    <div class="cell medium-4">
                        {{ 'Invoice.Reference'|trans }}
                    </div>
                <div class="cell medium-6">
                    {{ invoice.reference }}
                </div>
            </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                {{ 'Invoice.Amount'|trans }}
            </div>
            <div class="cell medium-6">
               &#8364; {{ invoice.amount|number_format(2, ',','.')  }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                {{ 'Invoice.Vat amount'|trans }}
            </div>
            <div class="cell medium-6">
                &#8364; {{ invoice.vatAmount|number_format(2, ',','.')  }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                {{ 'Invoice.Vat percentage'|trans }}
            </div>
            <div class="cell medium-6">
                {{ invoice.vatPercentage|number_format(2, ',' ,'.') }} %
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                {{ 'Invoice.Amount with vat'|trans }}
            </div>
            <div class="cell medium-6">
                {# {% set totalAmount = invoice.amount + ((invoice.amount / 100) * invoice.vatPercentage) %} #}
                <strong>&#8364; {{ invoice.amountWithVat|number_format(2, ',','.') }}</strong>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                {{ 'Invoice.Invoice send'|trans }}
            </div>
            <div class="cell medium-6">
                {% if invoice.invoiceSend is not null %}
                    {{ invoice.invoiceSend|date("d-m-Y") }}
                {% else %}
                    N.v.t.
                {% endif %}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                {{ 'Invoice.Status payment'|trans }}
            </div>
            <div class="cell medium-6">
                {% if invoice.statusPayment == 1 %}
                    {{ 'Invoice.Payed'|trans }}
                {% else %}
                    {{ 'Invoice.Not payed'|trans }}
                {% endif %}
            </div>
        </div>
        
        <div class="grid-x grid-padding-x">
            <div class="cell small-6"></div>
            <div class="cell small-2 text-right">
                <a class="button" href="javascript:void(0)" title=" {{ 'Index.Edit'|trans }} " 
                data-reveal-id="newInvoice" data-path="{{ path('invoice_edit', { 'id': invoice.id }) }}">
                    <i class="far fa-edit"></i>
                </a>
            </div>
            
            {{ form_start(delete_form) }}
            {#<input type="submit" class="button" value="Verwijderen" href="{{ path('invoice_delete', { 'id': invoice.id }) }}" title="Verwijderen" />#}
            
            <button class="button" title=" {{ 'Form.Delete'|trans }} " type="submit">
                <i class="fas fa-trash-alt"></i>
            </button> 
            {{ form_end(delete_form) }}
            
            <div class="cell small-4"></div>
        </div>
            
    {% endif %}
{# {% endblock %} #}
