{% extends 'base.html.twig' %}

{% block body %}
    {% for customer in customers %}

    
            <div class="grid-x grid-padding-x">
                <div class="cell medium-10"></div>
                <div class="cell medium-2">
                    <a class="button" href="{{ path('customer_new') }}">Nieuwe klant</a>
                </div>
            </div>

        <h4>Klanten ({{customer|length}})</h4>

        <br>

            <div class="grid-x grid-padding-x">
                <div class="cell medium-2"></div>
                <div class="cell medium-4">
                    Voornaam            
                </div>
                <div class="cell medium-6">
                    {{ customer.firstname }}
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-2"></div>
                <div class="cell medium-4">
                    Achternaam
                </div>
                <div class="cell medium-6">
                    {{ customer.lastname }}
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-2"></div>
                <div class="cell medium-4">
                    Straat
                </div>
                <div class="cell medium-6">
                    {{ customer.street }}
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-2"></div>
                <div class="cell medium-4">
                    Huisnummer
                </div>
                <div class="cell medium-6">
                    {{ customer.houseNumber }}
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-2"></div>
                <div class="cell medium-4">
                    Postcode
                </div>
                <div class="cell medium-6">
                    {{ customer.postalCode }}
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-2"></div>
                <div class="cell medium-4">
                    Woonplaats
                </div>
                <div class="cell medium-6">
                    {{ customer.city }}
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-2"></div>
                <div class="cell medium-4">
                    Telefoonnummer
                </div>
                <div class="cell medium-6">
                    {{ customer.telephone }}
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-2"></div>
                <div class="cell medium-4">
                    E-mail
                </div>
                <div class="cell medium-6">
                    {{ customer.email }}
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-2"></div>
                <div class="cell medium-4">
                    Rekeningnummer
                </div>
                <div class="cell medium-6">
                    {{ customer.bankaccountNumber }}
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-2"></div>
                <div class="cell medium-4">
                    Allergieën
                </div>
                <div class="cell medium-6">
                    {{ customer.allergies }}
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-2"></div>
                <div class="cell medium-4">
                    Facturen
                </div>
                <div class="cell medium-6">
                    {% for invoice in invoices %}
                        <a href=" {{ path('invoice_show', { 'id': invoice.id }) }} ">{{ invoice.invoiceNumber }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-6"></div>
                <div class="cell medium-2">
                    <a class="button" href="{{ path('customer_show', { 'id': customer.id }) }}">Inzien</a>
                    <a class="button" href="{{ path('customer_edit', { 'id': customer.id }) }}">Bewerken</a>
                </div>
                <div class="cell medium-4"></div>
            </div>
            
               
    {% endfor %}

{% endblock %}
