{% extends 'base.html.twig' %}

{% block body %}


    <h4>Klant: {{ customer.firstName}} {{ customer.lastName }}</h4>
        
    <br>
        
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                Voornaam            
            </div>
            <div class="cell medium-6">
                {{ customer.firstname }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                Achternaam            
            </div>
            <div class="cell medium-6">
                {{ customer.lastname }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                Straat            
            </div>
            <div class="cell medium-6">
                {{ customer.street }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                Huisnummer            
            </div>
            <div class="cell medium-6">
                {{ customer.housenumber }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                Postcode            
            </div>
            <div class="cell medium-6">
                {{ customer.postalCode }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                Woonplaats            
            </div>
            <div class="cell medium-6">
                {{ customer.city }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                Telefoon            
            </div>
            <div class="cell medium-6">
                {{ customer.telephone }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                E-mail
            </div>
            <div class="cell medium-6">
                {{ customer.email }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2"></div>
            <div class="cell medium-4">
                Allergiën
            </div>
            <div class="cell medium-6">
                {{ customer.allergies }}
            </div>
        </div>
        <div class="grid-x grid-padding-x">
                <div class="cell small-6"></div>
                <div class="cell small-2">
                    <a class="button" href="{{ path('customer_index') }}">Overzicht</a>
                    <a class="button" href="{{ path('customer_edit', { 'id': customer.id }) }}">Bewerken</a>
                </div>
                {{ form_start(delete_form) }}
                <a class="button" href="{{ path('customer_delete', { 'id': customer.id }) }}" title="Verwijderen">
                    Verwijderen
                </a>
                {# <button class="button" type="submit" title="Verwijderen">
                    Verwijderen
                </button> #}
                {{ form_end(delete_form) }}
                
                <div class="cell small-4"></div>
            </div>

{% endblock %}
