{% extends 'base.html.twig' %}

{% block body %}
    <h4>Leveranciers</h4>

    <table>
        <thead>
            <tr>
                <th>Naam</th>
                <th>E-mail</th>
                <th>Telefoon</th>
                <th>Extra informatie</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
        {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.email }}</td>
                <td>{{ supplier.telephone }}</td>
                <td>{{ supplier.extraInfo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('supplier_show', { 'id': supplier.id }) }}">Inzien</a>
                        </li>
                        <li>
                            <a href="{{ path('supplier_edit', { 'id': supplier.id }) }}">Bewerken</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('supplier_new') }}">Nieuwe leverancier</a>
        </li>
    </ul>
{% endblock %}
