{% extends 'base.html.twig' %}

{% block body %}
    <h3>Leverancier</h3>

    <table>
        <tbody>
            
            <tr>
                <th>Naam</th>
                <td>{{ supplier.name }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ supplier.email }}</td>
            </tr>
            <tr>
                <th>Telefoonnummer</th>
                <td>{{ supplier.telephone }}</td>
            </tr>
            <tr>
                <th>Extra informatie</th>
                <td>{{ supplier.extraInfo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('supplier_edit', { 'id': supplier.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
