{% extends 'base.html.twig' %}

{% block body %}
    
    <h4>Leverancier</h4>

    <br>
    <div class="grid-x grid-padding-x">
            <div class="cell medium-3"></div>
            <div class="cell medium-3">
                Naam
            </div>
            <div class="cell medium-3">
            
                <th>Naam</th>
                <td>{{ supplier.name }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ supplier.email }}</td>
            </tr>
            <tr>
                <th>Telefoonnummer</th>
                <td>{{ supplier.telephone }}</td>
            </tr>
            <tr>
                <th>Extra informatie</th>
                <td>{{ supplier.extraInfo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('supplier_edit', { 'id': supplier.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
